<div class="p-3 bg-red-400">
  <div class="grid grid-cols-3 gap-2">

    <div class="flex justify-center">
      <div>
        <img src="" alt="Logo">
        <h1>Brand Name</h1>
        <p>Address</p>
      </div>
    </div>

    <div class="flex justify-center">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, nobis.</p>
    </div>

    <div class="flex justify-center">
      <ul>
        <li>09511455535</li>
        <li>sb@mail.com</li>
      </ul>
    </div>

  </div>
</div>