<nav class="bg-red-500 p-3">
  <ul class="grid grid-cols-2 justify-items-stretch">
    <li class="justify-self-start">
      <div class="flex border rounded">
        <img src="" alt="Logo" id="logo" />
        <h1 id="systemName">Brand Name</h1>
      </div>
    </li>

    <li class="justify-self-end">
      <ul class="flex gap-1">
        <li>
          <button class="px-1 border rounded" id="linkToHome">Home</button>
        </li>
        <li>
          <button class="px-1 border rounded" id="linkToOrdinances">Ordinances</button>
        </li>
        <li>
          <button class="px-1 border rounded" id="linkToAboutUs">About Us</button>
        </li>
      </ul>
    </li>
  </ul>
</nav>
