html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
}

/* Add this to your CSS file (or inside a `<style>` tag if inline) */
#sidebar {
  transition: transform 1s ease-in-out;
  transform: translateX(0); /* Sidebar starts fully visible */
}

#sidebar.hidden {
  transform: translateX(-120%); /* Sidebar moves off-screen */
}

#sidebarToggle.opened + #sidebar {
  transform: translateX(0); /* When sidebar toggle is opened, move sidebar back to view */
}

#sidebarToggle.closed + #sidebar {
  transform: translateX(-120%); /* When sidebar toggle is closed, move sidebar off-screen */
}

.truncate-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-height: 4.5em; /* Adjust according to line height */
}

.see-more-btn {
  cursor: pointer;
  font-weight: bold;
  border: none;
  background: none;
  padding: 0;
}
